<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/bootstrap.min.css">
  <title>Document</title>
</head>

<body class="bg-dark" >
 <header>
      <nav class='navbar bg-secondary'>
        <div class='container-fluid'>
          <span class='navbar-brand mb-0 h1 text-light'>Random Password Generator</span>
        </div>
      </nav>
      </header>



    
    {{{body}}}
    
 
  <script src="/javascript/bootstrap.bundle.min.js"></script>
</body>

</html>